# -*- coding: utf-8; mode: python -*-
#
# Commit Message Format
#
#   ACTION: [AUDIENCE:] COMMIT_MSG [!TAG ...]
#
# Description
#
#   ACTION is one of 'chg', 'fix', 'new'
#
#       Is WHAT the change is about.
#
#       'chg' is for refactor, small improvement, cosmetic changes...
#       'fix' is for bug fixes
#       'new' is for new features, big improvement
#
#   AUDIENCE is optional and one of 'dev', 'usr', 'pkg', 'test', 'doc'
#
#       Is WHO is concerned by the change.
#
#       'dev'  is for developers (API changes, refactors...)
#       'usr'  is for final users (UI changes)
#       'pkg'  is for packagers   (packaging changes)
#       'test' is for testers     (test only related changes)
#       'doc'  is for doc guys    (doc only changes)
#
#   COMMIT_MSG is ... well ... the commit message itself.
#
#   TAGs are additionnal adjective as 'refactor' 'minor' 'cosmetic'
#
#       They are preceded with a '!' or a '@' (prefer the former, as the
#       latter is wrongly interpreted in github.) Commonly used tags are:
#
#       'refactor' is obviously for refactoring code only
#       'minor' is for a very meaningless change (a typo, adding a comment)
#       'cosmetic' is for cosmetic driven change (re-indentation, 80-col...)
#       'wip' is for partial functionality but complete subfunctionality.
#
# Example:
#
#   new: usr: support of bazaar implemented
#   chg: re-indentend some lines !cosmetic
#   new: dev: updated code to be compatible with last version of killer lib.
#   fix: pkg: updated year of licence coverage.
#   new: test: added a bunch of test around user usability of feature X.
#   fix: typo in spelling my name in comment. !minor
#
#   Please _note that multi-line commit message are supported, and only the
#   first line will be considered as the "summary" of the commit message. So
#   tags, and other rules only applies to the summary.  The body of the commit
#   message will be displayed in the changelog without reformatting.

ignore_regexps = []
section_regexps = [
    ("Added", [r"^[aA]dd(?:ed)?.*$"]),
    ("Changed", [r"^[cC]hanged|[uU]pdated?.*$"]),
    ("Deprecated", [r"^[dD]eprecated?.*$"]),
    ("Removed", [r"^[rR]emoved?.*$"]),
    ("Fixed", [r"^[fF]ix(?:ed)?.*$"]),
    ("Security", [r"^[sS]ecu(?:rity)?.*$"]),
    ("Other", None),
]

body_process = ReSub(r"((^|\n)[A-Z]\w+(-\w+)*: .*(\n\s+.*)*)+$", r"") | strip

subject_process = (
    strip
    | ReSub(
        r"^(?:(?:[aA]dd|[cC]hang|[uU]pdated|[dD]eprecat|[rR]emov|[fF]ix)e?d?|[sS]ecu(?:rity))\s*:?\s*([^\n@]+)$", r"\1"
    )
    | SetIfEmpty("No commit message.")
    | ucfirst
    | final_dot
)
tag_filter_regexp = r"^.*$"
unreleased_version_label = "_unreleased_"
output_engine = mustache(".gitchangelog-keepachangelog.tpl")
include_merge = True
publish = stdout
revs = []
